body {
    font-family: "Arial", sans-serif;
}

section{
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat (3,auto);
    width: 360px;
    margin: 50px auto;
}
.cell {
    font-family: cursive;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 173, 253);
    box-shadow: 0 0 0 1px #f8f5f5;
    border: 1px solid #fffbfb;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}